<html>

<head>
    <script src="/eel.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <!-- <div id="loader" class="flex">
        <div class="logo">
            <div class="frame"></div>
            <div class="logoI"></div>
        </div>
    </div> -->
    
    <main class="container pt-4">
        <header>
            <div class="row flex">
                <div class="flex brand">
                    <img src="./assets/img/logo.png" alt="">
                    <h1>Square Image</h1>
                </div>
                <span class="flex actions">
                    <button id="selectTrigger" class="btn btn-primary">Selecionar Imagens</button>
                    <button id="folderTrigger" class="btn btn-primary">Selecionar Pasta</button>
                </span>
            </div>
        </header>
        <section class="row mt-4 pb-4" style="overflow: auto;">
            <div id="images" class="grid">
            </div>
        </section>
    </main>

    <script type="module" src="./js/load.js"></script>
    <script src="./js/main.js"></script>

</body>

</html>